<section id="docs-charts">
  <h3>jQuery Flot Charts</h3>

  <p>This theme comes bundled with the <a href="http://www.flotcharts.org/" target="_blank">jQuery Flot Charts</a> library</p>

  <p>Documentation for jQuery Flot Charts can be found <a href="https://github.com/flot/flot/blob/master/API.md" target="_blank">here</a></p>

</section>