<div class="nav-menu box">
  <ul class="nav nav-list" id="documentation-menu">

    <li class="nav-header">Layout</li>
    <li><a href="#" data-link="docs-primary-menu"><i class="icon-list"></i> Main Menus & Layout</a></li>
    <li><a href="#" data-link="docs-breadcrumbs-search"><i class="icon-search"></i> Breadcrumbs & Search</a></li>
    <li><a href="#" data-link="docs-boxes"><i class="icon-columns"></i> Boxes</a></li>

    <li class="nav-header">Forms</li>
    <li><a href="#" data-link="docs-forms-textfields"><i class="icon-list-alt"></i> Forms & Textfields</a></li>
    <li><a href="#" data-link="docs-radios-checkboxes"><i class="icon-check"></i> Radios & Checkboxes</a></li>
    <li><a href="#" data-link="docs-select-tags"><i class="icon-tag"></i> Select & tags</a></li>

    <li class="nav-header">UI Lab</li>
    <li><a href="#" data-link="docs-notifications"><i class="icon-info-sign"></i> Notifications</a></li>
    <li><a href="#" data-link="docs-buttons-icons"><i class="icon-hand-up"></i> Buttons & icons</a></li>
    <li><a href="#" data-link="docs-modals"><i class="icon-share"></i> Modals</a></li>
    <li><a href="#" data-link="docs-tables"><i class="icon-table"></i> Tables</a></li>
    <li><a href="#" data-link="docs-other-ui"><i class="icon-table"></i> Other UI</a></li>

    <li class="nav-header">Widgets</li>
    <li><a href="#" data-link="docs-tabbable"><i class="icon-th-large"></i> Tabbable</a></li>
    <li><a href="#" data-link="docs-nav-menu"><i class="icon-list"></i> Nav menu</a></li>
    <li><a href="#" data-link="docs-recent-comments"><i class="icon-comment"></i> Recent Comments</a></li>
    <li><a href="#" data-link="docs-faq-page"><i class="icon-question-sign"></i> FAQ Page</a></li>
    <li><a href="#" data-link="docs-gallery"><i class="icon-picture"></i> Gallery</a></li>
    <li><a href="#" data-link="docs-charts"><i class="icon-signal"></i> Charts</a></li>

    <li class="nav-header">Other</li>
    <li><a href="#" data-link="docs-login-page"><i class="icon-user"></i> Login Page</a></li>
    <li><a href="#" data-link="docs-error-page"><i class="icon-remove"></i> Error 404 page</a></li>
  </ul>
</div>