<section id="docs-error-page">
  <h3>error 404 page</h3>

  <p>The error 404 page uses mrdoob's three.js for animating 3D</p>

  <p>The page comes bundled with the necessary scripts to trigger the animations</p>

  <p>Not much to say here, so go check it out!</p>

</section>