<section id="docs-other-ui">
  <h3>Badges</h3>

  <p>Badges can be used with the same syntax as in normal bootstrap</p>

      <p>
        <span class="badge">1</span>
  <% button_colors[1..-1].each do |c| %>
        <span class="badge <%= c %>">1</span>
  <% end %>
      </p>

  <pre class="prettyprint">
    <%= escape_html %(<span class="badge">1</span>) %>
  </pre>

  <p>Badges have the same color classes like buttons</p>
</section>