<section id="docs-tables">
  <h3>Tables</h3>

  <p>You can add class <code>box</code> to a table to give it the same effect as a normal container</p>
  <p>Use a <code>thead</code> and a <code>tfoot</code> to get a table header and a table footer. They integrate well with the box!</p>

  <pre class="prettyprint">
    <%= escape_html %(
    <table class="table table-bordered box"> ... </table>) %>
  </pre>

  <h3>Interactive tables</h3>

  <p>The <a href="http://datatables.net/" target="_blank">dataTables</a> library is included and customized to this theme. No custom classes to be added. Just plug'n'play</p>

</section>