<div class="inner-well clearfix">
  <div class="pull-left">
    Antivirus status
  </div>

  <div class="pull-right">
    <input rel="confirm-check" type="checkbox" id="<%= @a = random_string(5) %>" class="checky" checked="checked"/>
    <label for="<%= @a %>" class="checky"><span></span></label>
  </div>
</div>

<div class="inner-well clearfix">
  <div class="pull-left">
    Proxy server status
  </div>

  <div class="pull-right">
    <input rel="confirm-check" type="checkbox" id="<%= @b = random_string(5) %>" class="checky" />
    <label for="<%= @b %>" class="checky"><span></span></label>
  </div>
</div>