<div id="<%= id %>">
  <p>
    <a rel="action" class='button mini rounded inset light-gray'>Delete stats</a>
  </p>

  <div style="display: none;" rel="confirm-action">

    <div class="inner-well clearfix">
      <b>Are you sure?</b>
      <div class="pull-right">
        <input rel="confirm-check" type="checkbox" id="<%= @a = random_string(5) %>" class="checky"/>
        <label for="<%= @a %>" class="checky green"><span></span></label>
      </div>
    </div>

    <div class="clearfix vpadded">
      <div class="pull-left">
        <a href="#" class="button red" rel="confirm-do">Delete</a>
      </div>
      <div class="pull-right">
        <a href="#" class="button gray" rel="confirm-cancel">Cancel</a>
      </div>
    </div>

  </div>

</div>