<div class="row-fluid">
  <div class="span12">
    <div class="footer">
      <div>2012 &copy; Plastique Admin Theme</div>
      <div>Carefully crafted by <a href="https://wrapbootstrap.com/user/andrei4002">andrei4002</a></div>
    </div>
  </div>
</div>