<div class="row-fluid">
  <div class="span12">
    <div class="black-box tex">
      <div class="tab-header">Modal window</div>
      <div class="padded">
        <div class="inner-well" style="text-align: center">
        <a class="button gray mini rounded" href="#" id="modal-link">Launch modal</a>
        </div>
      </div>
    </div>
  </div>
</div>