<div class="row-fluid">
  <div class="span4">
    <div class="nav-menu box">
      <ul class="nav nav-list">
        <li class="nav-header">Notifications</li>
        <li><a id="notification-full-image" href="#"><i class="icon-share-alt"></i> With full image</a></li>
        <li><a id="notification-small-image" href="#"><i class="icon-share-alt"></i> With small image</a></li>
        <li><a id="notification-callback" href="#"><i class="icon-share-alt"></i> With callback</a></li>
        <li><a id="notification-auto-dismiss" href="#"><i class="icon-share-alt"></i> With auto-dismiss</a></li>
      </ul>
    </div>
  </div>
</div>


